language: go
go:
  - "1.10"
  - "1.11"
  - tip
env:
  - GO111MODULE=on  # will only be used in go 1.11
before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - if ! go get github.com/golang/tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
script:
  - $HOME/gopath/bin/goveralls -service=travis-ci
  - bash test/compile_with_go110.sh
  - bash test/compile_with_go111.sh
  - bash test/compile_with_go111_inside_gopath.sh
